{% if  tramitacaoFormulario.getSituacaoTramiteFormulario().isDevolvido() %}
<p>
    O SIGPET – Saúde informa que o preenchimento do Formulário de Avaliação de Atividade: 
    {{ tramitacaoFormulario.getEnvioFormularioAvaliacaoAtividade().getFormularioAvaliacaoAtividade().getNoFormulario() }}, 
    não foi satisfatório e deverá ser novamente preenchido e enviado conforme justificativa abaixo:

    <p>“{{ tramitacaoFormulario.getDsJustificativa() }}”</p>


    <p>Para acessar o Formulário, acesse o SIGPet e acione a opção de menu “Avaliação de Atividades / Tramitar Formulário de Atividades”.</p>

    <p>
        Coordenação de Ações Estratégicas em Educação na Saúde
        <strong>DEGES/ SGTES/MS</strong>
    </p>
</p>
{% else %}
<p>
    O SIGPET – Saúde informa que o preenchimento do Formulário de Avaliação de Atividade: 
    {{ tramitacaoFormulario.getEnvioFormularioAvaliacaoAtividade().getFormularioAvaliacaoAtividade().getNoFormulario() }}, 
    foi satisfatório e a avaliação foi finalizada.

    <p>
        Coordenação de Ações Estratégicas em Educação na Saúde
        <strong>DEGES/ SGTES/MS</strong>
    </p>
</p>
{% endif %}