<p>
    O SIGPET – Saúde informa o Formulário de Avaliação de Atividade: 
    {{ tramitacaoFormulario.getEnvioFormularioAvaliacaoAtividade().getFormularioAvaliacaoAtividade().getNoFormulario() }}, foi excluído do sistema e dessa forma não deverá ser respondido.
</p>
<p>
    Para maiores informações, entre em contato com o administrado do sistema.
</p>
<p>
    Coordenação de Ações Estratégicas em Educação na Saúde
    <strong>DEGES/ SGTES/MS</strong>
</p>