{% block body %}
{% if arr_status[0] %}
    <h4>Programa: {{ arr_status[0].folhaPagamento.publicacao.descricaoCompleta }}</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Situação</th>
                <th>Quando</th>
                <th>Reponsável pela tramitação</th>
            </tr>
        </thead>
        <tbody>            
            {% for status in arr_status %}
            <tr>
                <td>{{ status.situacaoFolha.dsSituacaoFolha }}</td>
                <td>{{ status.dtInclusao|date('d/m/Y H:i:s') }}</td>
                <td>{{ status.pessoaPerfil.pessoaFisica.pessoa.noPessoa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    Indisponível
{% endif %}
{% endblock body %}