<p>O cadastro do seu usuário com perfil Administrador no SIGPET foi realizado com sucesso.</p>
<p>
    Para entrar no sistema acesse:
    <br><br>http://sigpet.saude.gov.br/login
    <br>Usuário: {{ dsLogin }}
    <br>Senha: {{ dsSenha }}
</p>