<p>O SIGPET-Saúde é o sistema através do qual vamos gerenciar as informações de pagamento dos bolsistas cadastrados e também acompanhar o desenvolvimento dos projetos.</p>
<p>As atividades do PET-Saúde/GraduaSUS se iniciam em maio e durante este mês, vocês deverão realizar o cadastro dos participantes (bolsistas e voluntários).</p>
<p>O pagamento das bolsas ocorrerá somente após o cadastramento dos participantes no Sistema e envio dos formulários de cadastro (devidamente assinados pelos bolsistas e coordenadores) a este Ministério, e após a inserção de informações sobre os cursos/grupos PET-Saúde.</p>

<p><strong>O sistema estará disponível para cadastro a partir do dia 27/05/2016 até 06/06/2016.</strong></p>
<ul>
    <li>A seguir, orientações sobre sua utilização <strong>nesta primeira etapa de cadastro dos participantes (em conformidade com o número de bolsas aprovadas).</strong></li>
    <li>Após inserção do login e senha recebidos, e a definição do perfil <strong>COORDENADOR DE PROJETO</strong>, será necessário clicar no projeto PET-Saúde/GraduaSUS.</li>
    <li>A partir do menu superior é possível realizar a inclusão dos <strong>grupos de atuação (cursos)</strong>, dos <strong>estabelecimentos de saúde</strong> envolvidos no projeto e dos <strong>participantes</strong>.</li>
</ul>
<ol>
    <li>
        <p><strong>Grupos de atuação</strong></p>
        <p>Marcar os <strong>cursos de graduação</strong> envolvidos no projeto.</p>
        <ul>
            <li>Marcar um curso de cada vez e clicar em cadastrar grupo de atuação a cada marcação.</li>
        </ul>
    </li>
    <br>
    <li>
        <p><strong>Participantes</strong></p>
        <p>Ao clicar em participantes há a opção de pesquisar e cadastrar  participante.</p>
        <ul>
            <li>Clicar em cadastrar participante</li>
        </ul>
        <br>
        <p>Na aba dados pessoais:</p>
        <ul>
            <li>Definição do perfil do participante: selecionar entre as opções: coordenador de grupo, tutor, preceptor, estudante.</li>
            <li>Selecionar se ele é ou não bolsista</li>
            <li>Digitar CPF. Ao digitar o CPF o sistema trará na tela os dados do participante que constam na Receita Federal. Estes dados podem ser alterados caso não estejam atualizados. O CPF deve ser informado com seus 11 dígitos. Caso o CPF esteja irregular, o SIGPET-Saúde não permitirá o cadastramento no Programa. Todos os demais campos são obrigatórios.</li>
            <li>Todos os demais campos são obrigatórios.</li>
            <li>Digitar agência do Banco do Brasil, <strong>COM o dígito verificador, sem traços nem hífen, apenas números e a letra X quando houver</strong>. O Banco do Brasil é o responsável pelo pagamento das bolsas e será necessário indicar a agência BB mais próxima, para a retirada do cartão PET-Saúde (recomendamos, caso haja dúvidas em relação ao número da agência BB, indicar apenas uma agência central, de fácil acesso para todos).</li>
        </ul>
        <br>
        <p>Na aba dados de contato:</p>
        <ul>
            <li>Inserir informações de telefone e email. (As informações de endereço vem do banco de dados da receita federal)</li>
        </ul>
        <br>
        <p>Na aba dados complementares:</p>
        <ul>
            <li>Inserir informações sobre área de atuação/formação</li>
        </ul>
    </li>    
    <br>
    <li>
        <p><strong>Estabelecimentos de saúde</strong></p>
        <p>Realizar o cadastro dos estabelecimentos de saúde envolvidos a partir do número do CNES.</p>
        <ul>
            <li>Inserir o nº do CNES do estabelecimento e clicar em cadastrar.</li>
            <li>Repetir a ação até que todos os serviços estejam inseridos.</li>
        </ul>
    </li>
    <br>
    <p><strong>Cuidado no preenchimento de dados cadastrais. Recomendamos muita atenção em relação ao preenchimento de dados cadastrais dos participantes do Programa. Alguns bolsistas não puderam receber os benefícios, por informarem erroneamente o nº de Agência do Banco do Brasil.</strong></p>
    <p><strong>Ao salvar as informações inseridas, verificar se o cadastro foi efetuado com sucesso e imprimir o termo de compromisso. É necessário colher as assinaturas e enviar o formulário para o seguinte endereço:</strong></p>
    <address>
        <strong>Ministério da Saúde</strong>
        <br>Secretaria de Gestão do Trabalho e da Educação na Saúde - Departamento de Gestão da Educação na Saúde
        <br>Esplanada dos Ministérios - Bloco G - Edifício sede - Sala 725 - Brasília/DF - CEP: 70.058-900
    </address>
</ol>