<div class="text-justify">
    <p>Seja bem-vindo (a) ao {{ programa.getDsPrograma() }}.</p>

    <p>O SIGPET-Saúde é o sistema pelo qual vamos gerenciar as informações de pagamento dos bolsistas e também
       acompanhar o
       desenvolvimento dos projetos.</p>
    <p>As atividades do {{ programa.getDsPrograma() }} se iniciam em abril de 2019 e se encerram em março de 2021. </p>
    <p>O coordenador de projeto é o responsável pela constante atualização dos dados cadastrais dos participantes.</p>
    <p>De acordo com o item 5.5.3 do Edital nº 10/2018, caso haja mudança dos participantes no decorrer das atividades,
       o
       coordenador do projeto deverá proceder com a atualização no SIGPET e comunicar a ocorrência ao
       DEGES/SGTES/MS.</p>
    <p>Ainda de acordo com o Edital, o repasse das bolsas está condicionado:</p>
    <ul>
        <li>À inserção, mensalmente, no SIGPET de relatório de atividades realizadas, bem como de ocorrências indicando
            a
            permanência, interrupção ou cancelamento do pagamento de bolsas;
        </li>
        <li>Ao atesto do gestor ao qual a coordenação do projeto está vinculada. Esse atesto (carimbo e assinatura)
            deverá
            ser feito na folha de pagamento impressa que for autorizada mensalmente. Após a assinatura, será necessário
            anexar a folha escaneada no SIGPET.
        </li>
    </ul>
    <p>O sistema é de fácil manuseio e extremamente intuitivo. Ainda assim, será encaminhado a cada coordenador de
       projeto
       um guia com as principais orientações.</p>

    <p></p>
    <p>Em caso de dúvidas, envie um e-mail para: <a href="mailto:petsaude@saude.gov.br">petsaude@saude.gov.br</a></p>
</div>