<div class="text-justify">
    <p>Seja bem-vindo (a) ao {{ programa.getDsPrograma() }}.</p>

    <p>O SIGPET-Saúde é o sistema pelo qual vamos gerenciar as informações de pagamento dos bolsistas, assim como acompanhar o desenvolvimento dos projetos selecionados para esta edição do programa.</p>
    <p>As atividades do {{ programa.getDsPrograma() }} se iniciam em maio de 2024 e se encerram em maio de 2026.</p>
    <p>O(A) coordenador(a) de projeto é o responsável pela constante atualização dos dados cadastrais dos participantes no SIGPET-Saúde.</p>
    <p>De acordo com o item 10.12 do Edital nº 11, de 16 de setembro 2023, caso haja mudança dos participantes no decorrer das atividades, o coordenador do projeto deverá proceder à atualização da informação no sistema SIGPET-Saúde e comunicar a ocorrência do fato por correspondência eletrônica direcionada à equipe PET-Saúde <a href="mailto:petsaude@saude.gov.br">petsaude@saude.gov.br</a>.</p>
    <p>Ainda de acordo com o Edital nº 11/2023, o repasse das bolsas está condicionado:</p>
    <ul>
        <li>Ao cadastro dos participantes no SIGPET-Saúde, que deverá ser atualizado mensalmente pelo coordenador do projeto;</li>
        <li>À inserção, mensalmente, no SIGPET de relatório de atividades realizadas, bem como de ocorrências indicando a permanência, interrupção ou cancelamento do pagamento de bolsas;</li>
        <li>•	Ao atesto mensal do gestor/reitor (ou de seus substitutos legais) ao qual a coordenação do projeto está vinculada. Esse atesto deve ter a assinatura e o carimbo do gestor/reitor (ou de seus substitutos legais) e do coordenador de projeto, devendo ser feito na folha de pagamento impressa que for autorizada mensalmente no SIGPET-Saúde. Após a assinatura, será necessário enviá-la para o endereço eletrônico petsaude@saude.gov.br; e</li>
        <li>Às entregas de formulários e de relatórios previamente estabelecidas por este Ministério da Saúde.</li>
    </ul>
    <p>O sistema SIGPET-Saúde é de fácil manuseio e autoinstrutivo.</p>

    <p></p>
    <p>Em caso de dúvidas, envie um e-mail para: <a href="mailto:petsaude@saude.gov.br">petsaude@saude.gov.br</a></p>
    <p></p>
    <p><b>"Boas atividades de educação tutorial pelo trabalho!"</b></p>

</div>