{% macro add_error_class(errors, fieldName) %}
    {% if errors %}
        {% for error in errors %}            
            {% if fieldName == error.propertyPath %}
                has-error
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_error(errors, fieldName) %}
    {% if errors %}
        {% for error in errors %}            
            {% if fieldName == error.propertyPath %}
                <div class="text-danger"><i class="glyphicon glyphicon-info-sign"></i> {{ error.message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

