{% if app.user and dsPerfil is defined %}
<div class="cabecalho text-center">
    <span class="glyphicon glyphicon-user"></span>&nbsp;
    <span class="text-info">{{ dsPerfil }}</span>
    {% if nuSipar %}
        <br/>
        <span class="cabecalho-nusipar">{{ nuSipar }}</span>&nbsp;
        <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;
        <span class="text-info">{{ noPrograma }}</span>
    {% endif %}
</div>
{% endif %}