{% extends 'base.html.twig' %}

{% block subtitle %}Autenticação{% endblock %}  

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {'method': 'post', 'action': path('default_direcionar_login')}) }}
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.coPessoaPerfil) }}
                </div>
            </div>
            <br>
            <div id="container-selecao-projeto"></div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts 'js/default/selecionar_perfil.js' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}