{% extends 'base.html.twig' %}

{% block subtitle %}Página inicial{% endblock %}

{% block body %}
    
{% if pessoaPerfil.perfil.isCoordenadorProjeto %}   
    {% if not programa.isGrupoTutorial() %}
        {% include '/participante/orientacoes_coordenador_projeto.html.twig' %}    
    {% else %}
        {% include '/participante/orientacoes_coordenador_projeto_interprofissionalidade.html.twig' %}
    {% endif %}
{% else %}

<h2>SIGPET-INFOSD</h2>
<p>Bem vindo ao Sistema de Informações Gerenciais do PET-INFOSD</p>
    
{% endif %}

{% endblock %}
