{% extends "base.html.twig" %}

{% block subtitle %}
    Editar Texto Saudação
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="col-12">
        <div class="col">
            {{ form_row(form.dsTextoSaudacao) }}
        </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        ClassicEditor
            .create( document.querySelector( '#cadastrar_saudacao_dsTextoSaudacao' ) )
            .catch( error => {
                console.error( error );
            } );
        $(document).ready(function(){
            $('.ck-file-dialog-button').hide();
            $('.ck-dropdown').hide();
        });
    </script>
{% endblock %}