{% extends "base.html.twig" %}

{% block subtitle %}
    {% if edit is defined and edit %}Editar{% else %}Cadastrar{% endif %} Instituição
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="col-12">
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/instituicao/create.js') }}"></script>
{% endblock %}