<p>
O SIGPET – Saúde informa que realizou nessa data {{ date|date('d/m/Y H:i:s') }} a abertura automática da folha de pagamento.
</p>
<p>
Para maiores informações, consultar o planejamento de abertura da folha de pagamento ou entre em contato com os administradores do sistema.
</p>
